<!DOCTYPE html>
<head>
    <title>Test</title>
    {% assets "gen_css" %}
    <link href="/static/out/bundle.css" type="text/css" rel="stylesheet" />
    {% endassets %}
    
</head>
<body>
    <p>
		The time at render is: {{time}}
	</p>
</body>